.recipe-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.packing-button {
    margin-bottom: 20px;
}

button.packing-button.ant-btn {
    background-color: #cbe3ff;
    border-color: #cbe3ff;
    color: #213547;
}
