.status-bar {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 30px;
    padding: 10px 10px 10px 20px;
}

.status-bar-actions {
    display: flex;
    gap: 12px;
    align-items: center;
}

.status-bar-button {
    height: 30px;
    border-radius: 4px;
}

@media (max-width: 900px) {
    .status-bar {
        gap: 12px;
        padding-left: 10px;
        white-space: nowrap;
        flex-shrink: 0;
    }

    .status-bar-actions {
        gap: 6px;
        flex-shrink: 0;
        white-space: nowrap;
    }
}
