.status-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    padding-left: 20px;
}

.status-bar {
    flex: 1;
    display: flex;
    align-items: center;
}

.status-bar-actions {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.status-bar-button {
    height: 30px;
    border-radius: 4px;
}
