.recipe-box {
    width: 48%;
    margin-top: 10px;
}

.full-recipe {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    font-size: 14px;
}

.description-content {
    text-align: left;
}

.tree-title {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-top: 0.5px solid #d9d9d9;
}
