.input-switch {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.input-label {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 60%;
}

.input-content {
    display: flex;
    flex-direction: row;
    width: 60%;
}

.slider-input-wrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.slider-labels {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 4px;
    line-height: 1.2;
}

.slider-label-left {
    float: left;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.slider-label-right {
    float: right;
    text-align: right;
    display: flex;
    flex-direction: column;
}

.ant-select-outlined {
    width: 100% !important;
    margin: 0 !important;
}