#root {
  margin: 0 auto;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-self: flex-start;
  align-items: center;
}

.header {
  color: #000000E0;
  background-color: #ffffff;
  width: 90vw;
  display: flex;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  gap: 20px;
  width: 900px;
  padding: 20px;
  margin-top: 36px;
}

.status-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  border: 1px solid #D3D3D3;
  padding: 10px;
  border-radius: 10px;
  padding-left: 20px;
}