.small-screen-warning {
    position: fixed;
    inset: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: center;
    max-width: 320px;
    margin: 0 16px;
    justify-content: center;
    z-index: 1000;
}

.small-screen-warning .ant-alert-message {
    white-space: normal;
    word-break: break-word;
}

.small-screen-warning .ant-alert-close-icon {
    flex-shrink: 0;
    padding: 8px;
}
